/.texpadtmp/*
proposal/p4proposal.pdf 
data/sample_submission.csv
data/test.csv
data/train.csv
*.zip
data/sample_submission.csv
data/test.csv
data/train.csv
LaTeX/cstahl_ehirsch_kfarmer_final.pdf
*~
.DS_Store
*.blg
*.aux
*.sty
*.log
*.synctex.gz
*.bbl
*blx.bib
*.out
*.npy
*.sty
*.xml
hdata/

python/test_dump.bin
python/train_dump.bin

.ipynb_checkpoints/


python/saved_vec_mod.kf

python/save.p

python/saved_vec_mod.kf
